<h1>StaticPages#admin</h1>
<p>Find me in app/views/static_pages/admin.html.erb</p>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
