<footer class="footer fixed-bottom container pb-3 white-background">
  <hr>
  <div class="row text-center">
    <div class="col-7">
      <span>© House & Home 2017</span>
    </div>
    <div class="col-5">
      <span><a href="/properties">Admin</a></span>
    </div>
  </div>
</footer>
