// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#nav-logo {
  margin-top: -5px;
  max-width: 60px;
}

#nav-search-button {
  margin-left: -40px;
}

.link-text-white a {
  color: white;
}

.white-background {
  background-color: white;
}
